Repository puppetlabs/puppet-editor-services, pull requests merged in 2018-11, with the labels that each got.

#74 (GH-69) Fix rubocop violations from version 0.60.0
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  lib/languageserver/diagnostic.rb
  lib/languageserver/document_symbol.rb
  lib/languageserver/location.rb
  lib/puppet-debugserver/debug_hook_handlers.rb
  lib/puppet-debugserver/hooks.rb
  lib/puppet-debugserver/message_router.rb
  lib/puppet-debugserver/puppet_debug_breakpoints.rb
  lib/puppet-debugserver/puppet_debug_session.rb
  lib/puppet-languageserver-sidecar/puppet_helper.rb
  lib/puppet-languageserver-sidecar/puppet_modulepath_monkey_patches.rb
  lib/puppet-languageserver-sidecar/puppet_parser_helper.rb
  lib/puppet-languageserver-sidecar/workspace.rb
  lib/puppet-languageserver/document_store.rb
  lib/puppet-languageserver/epp/validation_provider.rb
  lib/puppet-languageserver/json_rpc_handler.rb
  lib/puppet-languageserver/manifest/completion_provider.rb
  lib/puppet-languageserver/manifest/definition_provider.rb
  lib/puppet-languageserver/manifest/document_symbol_provider.rb
  lib/puppet-languageserver/manifest/validation_provider.rb
  lib/puppet-languageserver/message_router.rb
  lib/puppet-languageserver/puppet_helper/cache.rb
  lib/puppet-languageserver/puppet_parser_helper.rb
  lib/puppet-languageserver/puppetfile/r10k/module/forge.rb
  lib/puppet-languageserver/puppetfile/r10k/module/invalid.rb
  lib/puppet-languageserver/server_capabilities.rb
  lib/puppet-languageserver/sidecar_protocol.rb
  lib/puppet_debugserver.rb
  lib/puppet_editor_services.rb
  lib/puppet_languageserver.rb
  lib/puppet_languageserver_sidecar.rb
  puppet-debugserver
  puppet-languageserver
  puppet-languageserver-sidecar
  spec/debugserver/spec_debug_helper.rb
  spec/languageserver-sidecar/spec_helper.rb
  spec/languageserver/spec_helper.rb
  spec/languageserver/unit/puppet-editor-services/version_spec.rb
Labels: Debug Server, Language Server, enhancement

#73 (GH-67) Make resource completion smarter
  lib/puppet-languageserver-sidecar/sidecar_protocol_extensions.rb
  lib/puppet-languageserver/manifest/completion_provider.rb
  lib/puppet-languageserver/sidecar_protocol.rb
  spec/languageserver/integration/puppet-languageserver/manifest/completion_provider_spec.rb
  spec/languageserver/spec_helper.rb
  spec/languageserver/unit/puppet-languageserver/sidecar_protocol_spec.rb
Labels: Language Server, bug, enhancement

#76 (GH-75) Add Node completion snippet
  CHANGELOG.md
  lib/puppet-languageserver/manifest/completion_provider.rb
Labels: Language Server, enhancement

#78 (maint) Remove redundant code
  lib/puppet-languageserver/sidecar_protocol.rb
Labels: Language Server

#79 (GH-34) Parse class and defined type parameters
  CHANGELOG.md
  lib/puppet-languageserver-sidecar/puppet_helper.rb
  lib/puppet-languageserver-sidecar/sidecar_protocol_extensions.rb
  lib/puppet-languageserver/manifest/completion_provider.rb
  lib/puppet-languageserver/manifest/hover_provider.rb
  lib/puppet-languageserver/puppet_helper.rb
  lib/puppet-languageserver/puppet_helper/cache_objects.rb
  lib/puppet-languageserver/sidecar_protocol.rb
  spec/languageserver-sidecar/unit/puppet-languageserver-sidecar/sidecar_protocol_extensions_spec.rb
  spec/languageserver/integration/puppet-languageserver/manifest/completion_provider_spec.rb
  spec/languageserver/integration/puppet-languageserver/manifest/hover_provider_spec.rb
  spec/languageserver/spec_helper.rb
  spec/languageserver/unit/puppet-languageserver/sidecar_protocol_spec.rb
Labels: Language Server, enhancement

#77 (GH-68) Load workspace information on initial start and on document saving
  CHANGELOG.md
  lib/puppet-languageserver/document_store.rb
  lib/puppet-languageserver/message_router.rb
  lib/puppet-languageserver/puppet_helper.rb
  lib/puppet-languageserver/sidecar_queue.rb
  lib/puppet_languageserver.rb
Labels: Language Server, enhancement

#81 (GH-80) Release 0.16.0
  lib/puppet-editor-services/version.rb
Labels: Language Server

#84 (GH-80) Update changelog for Keep a Changelog format
  CHANGELOG.md
Labels: Language Server
