Repository puppetlabs/puppet-editor-services, pull requests merged in 2018-10, with the labels that each got.

#42 (GH-40) Create sidecar process to enumerate puppet types, classes, functions, node graph and puppet resource
  .rubocop.yml
  .rubocop_todo.yml
  .travis.yml
  Rakefile
  appveyor.yml
  lib/puppet-languageserver-sidecar.rb
  lib/puppet-languageserver-sidecar/cache/base.rb
  lib/puppet-languageserver-sidecar/cache/filesystem.rb
  lib/puppet-languageserver-sidecar/cache/null.rb
  lib/puppet-languageserver-sidecar/puppet_helper.rb
  lib/puppet-languageserver-sidecar/puppet_modulepath_monkey_patches.rb
  lib/puppet-languageserver-sidecar/puppet_monkey_patches.rb
  lib/puppet-languageserver-sidecar/puppet_parser_helper.rb
  lib/puppet-languageserver-sidecar/sidecar_protocol_extensions.rb
  lib/puppet-languageserver-sidecar/workspace.rb
  lib/puppet-languageserver.rb
  lib/puppet-languageserver/sidecar_protocol.rb
  puppet-languageserver-sidecar
  spec/languageserver-sidecar/fixtures/real_agent/cache/facts.d/.gitkeep
  spec/languageserver-sidecar/fixtures/real_agent/cache/lib/facter/.gitkeep
  spec/languageserver-sidecar/fixtures/real_agent/cache/lib/puppet/parser/functions/default_cache_function.rb
  spec/languageserver-sidecar/fixtures/real_agent/cache/lib/puppet/type/default_type.rb
  spec/languageserver-sidecar/fixtures/real_agent/confdir/puppet.conf
  spec/languageserver-sidecar/fixtures/real_agent/environments/testfixtures/modules/defaultmodule/manifests/definedtype.pp
  spec/languageserver-sidecar/fixtures/real_agent/environments/testfixtures/modules/defaultmodule/manifests/init.pp
  spec/languageserver-sidecar/fixtures/real_agent/environments/testfixtures/modules/defaultmodule/metadata.json
  spec/languageserver-sidecar/fixtures/real_agent/logdir/.gitkeep
  spec/languageserver-sidecar/fixtures/valid_module_workspace/README.md
  spec/languageserver-sidecar/fixtures/valid_module_workspace/lib/puppet/parser/functions/badfile.rb
  spec/languageserver-sidecar/fixtures/valid_module_workspace/lib/puppet/parser/functions/badfunction.rb
  spec/languageserver-sidecar/fixtures/valid_module_workspace/lib/puppet/parser/functions/fixture_function.rb
  spec/languageserver-sidecar/fixtures/valid_module_workspace/lib/puppet/type/fixture.rb
  spec/languageserver-sidecar/fixtures/valid_module_workspace/manifests/deftypeone.pp
  spec/languageserver-sidecar/fixtures/valid_module_workspace/manifests/init.pp
  spec/languageserver-sidecar/fixtures/valid_module_workspace/manifests/nested/anotherclass.pp
  spec/languageserver-sidecar/fixtures/valid_module_workspace/metadata.json
  spec/languageserver-sidecar/integration/puppet-languageserver-sidecar/puppet-languageserver-sidecar_spec.rb
  spec/languageserver-sidecar/integration/puppet-languageserver-sidecar/puppet_helper_spec.rb
  spec/languageserver-sidecar/integration/puppet-languageserver-sidecar/puppet_parser_helper_spec.rb
  spec/languageserver-sidecar/spec_helper.rb
  spec/languageserver-sidecar/unit/puppet-languageserver-sidecar/cache/filesystem_spec.rb
  spec/languageserver-sidecar/unit/puppet-languageserver-sidecar/puppet_helper_spec.rb
  spec/languageserver-sidecar/unit/puppet-languageserver-sidecar/sidecar_protocol_extensions_spec.rb
  spec/languageserver/spec_helper.rb
  spec/languageserver/unit/puppet-languageserver/sidecar_protocol_spec.rb
Labels: enhancement

#59 (GH-56) OutLineView
  CHANGELOG.md
  lib/languageserver/constants.rb
  lib/languageserver/document_symbol.rb
  lib/languageserver/languageserver.rb
  lib/puppet-languageserver/manifest/document_symbol_provider.rb
  lib/puppet-languageserver/message_router.rb
  lib/puppet-languageserver/providers.rb
  lib/puppet-languageserver/server_capabilities.rb
  spec/languageserver/unit/puppet-languageserver/manifest/document_symbol_provider_spec.rb
Labels: Language Server, enhancement

#63 (GH-55) Disable the Debug Server on Puppet 6
  .travis.yml
  appveyor.yml
  lib/puppet-debugserver/puppet_debug_session.rb
  spec/debugserver/integration/puppet-debugserver/end_to_end_spec.rb
Labels: Debug Server, Language Server, enhancement

#65 (GH-66) Fix go to definition
  lib/puppet-languageserver.rb
  lib/puppet-languageserver/manifest/definition_provider.rb
  lib/puppet-languageserver/uri_helper.rb
  spec/languageserver/unit/puppet-languageserver/uri_helper_spec.rb
Labels: bug
